In [51]:
import pandas as pd
df = pd.read_csv('train.csv')
print(df.head())
df.info()

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [52]:
print(df.groupby(by = 'Sex')['Survived'].mean())

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [53]:
print(df.groupby(by = 'Pclass')['Survived'].mean())

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [54]:
print(df.pivot_table(index = 'Survived', columns = 'Pclass', 
                     values = 'Age', aggfunc = 'mean'))

Pclass            1          2          3
Survived
0         43.695312  33.544444  26.555556
1         35.368197  25.901566  20.646118

In [55]:
df['Sex']= df['Sex'].map({'male': 0, 'female': 1})

In [56]:
df = df.drop(['Name', 'Ticket', 'Cabin'], axis=1)

In [57]:
age1 = df[df['Pclass']==1]['Age'].median()
age2 = df[df['Pclass']==2]['Age'].median()
age3 = df[df['Pclass']==3]['Age'].median()

def fill_age(row):
   if pd.isnull(row['Age']):
       if row['Pclass'] == 1:
           return age1
       if row['Pclass'] == 2:
           return age2
       return age3
   return row['Age']

df['Age'] = df.apply(fill_age, axis=1)

In [60]:
df[list(pd.get_dummies(df['Embarked']).columns)] = pd.get_dummies(df['Embarked'])
df = df.drop(['Embarked'], axis=1)

In [61]:
df.to_csv('train_cleaned.csv', index=False)